
.display{
  position: absolute;
  display: flex;
  justify-content: center;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(1,0,107,1) 0%, rgba(0,0,175,0.630987429151348) 0%, rgba(0,212,255,1) 100%);
  width: 100%;
  height: 50rem;
}

@media (min-width: 490px){
.menu{
  position: absolute;
  width: 100%;
  height: 4.5rem;
  left: 0px;
  top: 0px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}
}

@media (max-width: 490px){
.menu{
  position: absolute;
  width: 100%;
  height: 6rem;
  border-radius: 10% 10% 50% 50% / 0% 0% 29% 29%;
  left: 0px;
  top: -7px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}
}

@media (min-width: 490px){
.footer{
  position: absolute;
  width: 100%;
  height: 5rem;
  left: 0px;
  bottom: 0rem;
  background: #E2E2E2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  box-shadow: 0px -3px 2px rgb(0 0 0 / 25%);
  border-radius: 10% 10% 50% 50% / 16% 16% 0% 0%;
}
}

@media (max-width: 490px){
.footer{
  position: absolute;
  width: 100%;
  height: 5rem;
  left: 0px;
  bottom: 0rem;
  background: #E2E2E2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8rem;
  box-shadow: 0px -3px 2px rgb(0 0 0 / 25%);
}
}

.mostrador{
  position: absolute;
  display: flex;
  width: 70%;
  height: 24rem;
  top: 18rem;
  margin-bottom: 2rem;
  background: #F8F8F8;
  opacity: 0.8;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10% 10% 50% 50% / 0% 0% 9% 9% ;
  align-items: center;
  justify-content: center;
}

.categorias{
  position: absolute;
  width: 70%;
  height: 3.3rem;
  top: 13.5rem;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  background: #2f4f4f6b;
}

@media (min-width: 490px){
.titulo{
  transform: scale(0.9);
  position: absolute;
  display: flex;
  align-items: center;
  left: 0rem;
}
}

@media (max-width: 490px){
.titulo{
  transform: scale(0.85);
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  padding: 1rem;
}
}

.add{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100%;
  top: 0px;
  margin-right: 5%;
  background: linear-gradient(180deg, #DADADA 0%, rgba(190, 190, 190, 0) 100%);
}

.fnc{
  background-color: #447aaa00;
  width: 70%;
  height: 6rem;
  position: absolute;
  top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cat{
  width: 100%;
  height: 2rem;
  background: #F8F8F8;
  opacity: 0.8;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
  border-radius: 8px;
  border: none;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.7rem;
  margin-right: 1rem;
}

.atv{
  width: 100%;
  height: 2rem;
  background: #F8F8F8;
  opacity: 0.8;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
  border-radius: 8px;
  border: none;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
}

.btct{
  background: #2B4B68;
  border-radius: 11px;
  border: none;
  width: 13rem;
  height: 2rem;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}

.btat{
  background: #2C682B;
  border-radius: 11px;
  border: none;
  width: 13rem;
  height: 2rem;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}

.texto{
  color: white;
  filter: drop-shadow(0px 2px 1px black);
}

.obs{
  width: 100%;
  height: 3rem;
  position: absolute;
  word-wrap: break-word;
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.area{

}